<footer class="footer bg-dark py-3 mt-auto">
    <div class="container-fluid ">
        <div style="display: inline;" class="md-5">
            <a href="http://nameless-sands-99929.herokuapp.com/about_us?" style="text-decoration:none">About Us
            </a>
            <a href="http://nameless-sands-99929.herokuapp.com/contact_us?" style="text-decoration:none">Contact Us
            </a>
            <a href="https://www.igdtuw.ac.in/" style="text-decoration:none">About IGDTUW
            </a>
            <a href="https://in.linkedin.com/company/igdtuw" class="social-icon si-rounded si-small si-linkedin">
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
            </a>

        </div>

        <span style="display: inline; float: right;" class="text-muted">&copy; IGDTUW Virtual Navigator-2021</span>
    </div>
</footer>