<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <form class="form mt-auto" action="/home" method="GET">
                <button class="btn btn-dark">IGDTUW Virtual Navigator</button>
            </form>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <li class="nav-item">
                        <a class="nav-link" href="http://nameless-sands-99929.herokuapp.com/login" tabindex="-1" aria-disabled="true">Login</a>
                    </li>
                </li>
            </ul>
        </div>
    </div>
</nav>