<% layout ('/layouts/boilerplate')%>
<div class="row mt-5">
    <h1 class="text-center" style="color: darkorange; font-family: Montserrat; font-weight: 800;">About Us</h1>
</div>
<p style="margin-left: 50px; 
  margin-right: 50px;">
  IGDTUW virtual tour portal is a virtual navigation portal for Indira Gandhi
  Delhi Technical University for Women, through which users can:
  1. Navigate the university premises virtually, with inputs for users from past and present
  students, faculty members and university administration.
  
  2. The facility to check for locations of different administrative offices, offices of various
  faculty members, incubation centres, amenities like canteen, general-purpose shops,
  photocopiers etc. in and around the campus.
  
  3. Experience the campus from home, especially attractive to students who have started
  their university life virtually, and would like to get a tour of the premises. Also a good
  experience for alumni of the university.
  
  4. Create accounts and submit inputs in the form of text, pictures, videos etc. of the
  university, which can be added to the portal post successful review by our website team.


</p>