<% layout ('/layouts/boilerplate')%>
    <div class="row">
        <h3 style="font-weight: 800; color: black;" class="text-center">View Inputs</h3>

        <h4>Approval status updated successfully!</h4>

        <li class="nav-item">
            <form class="form mt-auto" action="/siteadmin/view/input" method="GET">
                <button class="btn btn-dark">Continue processing</button>
            </form>
        </li>

    </div>