<% layout ('/layouts/boilerplate_landing')%>
    <div class="row mt-5">
        <h1 class="text-center" style="color: black; font-family: Montserrat; font-weight: 800;">Contact Us</h1>
    </div>
    <p>For any queries or suggestions, please contact us at:
        <br>
        igdtuw.virtual.navigator@gmail.com
        <br>
    </p>
    </p>