<% layout ('/layouts/boilerplate_student')%>
    <div class="row">
        <h3 style="font-weight: 800; color: black;" class="text-center">Change Password</h3>

        <h4>Password changed successfully!</h4>

    </div>