<!-- <//%// layout ('/layouts/boilerplate')%> -->
<h1>MY PROFILE</h1>
        <table class="table table-responsive">
            <tr class="table-dark">
                <th>Name</th>
                <th>Email Address</th>
                <th>Password</th>
                
            </tr>
            
                
               
        </table>

        
        