<% layout ('/layouts/boilerplate_nonloggedin')%>
    <div class="row">
        <h3 style="font-weight: 800; color: black;" class="text-center">Login Unsuccessful</h3>
    
        <h4>You have entered an incrorect username or password.</h4>
    
        <li class="nav-item">
            <form class="form mt-auto" action="/login" method="GET">
                <button class="btn btn-dark">Try again</button>
            </form>
        </li>
    
    </div>