<% layout ('/layouts/boilerplate_nonloggedin')%>
<div class="row mt-3" style="margin:auto; padding:auto;">
    <h2 style="font-weight: 800; color:rgb(7, 7, 7); text-align: center;">LOGIN</h2>
    <div class="card card-dark col-5 offset-4 mt-4" style="background-image: linear-gradient(to right, #434343 0%, black 100%); font-weight: 600; fill-opacity: 0.5; align-self: center;">
    <form class="row g-3" action="/login" method="POST" style="color:aliceblue">
        <div class="form-group col-9 offset-1" style="fill-opacity: 1.0;">

        <div class="mb-2 mt-3">
        <label for="email">Enter email id </label>
        <input class="form-control" type="text" name="email" id="email" required><br/>
        </div>

        <div class="mb-2">
        <label for="password">Enter password</label>
        <input class="form-control" type="password" name="password" id="password" required>
        <input type="checkbox" onclick="myFunction()">Show Password<br />
        </div>

        <div class="mb-2">
        <label for="User">Enter User type</label>
         <select class="form-control" name="User" id="User" required>
            <option value="student" selected>Student</option>
            <option value="faculty">Faculty</option>
            <option value="uniadmin">University administration</option>
            <option value="siteadmin">Web team</option>
        </select><br />
        </div>

        <div class="mb-3 mt-2 col-md">
        <input class="form-control btn btn-success" type="submit" name="submit" value="Submit" />
        </div>
        </div>
    </form>
</div>
<!-- <div class="card col-5 offset-2 mt-4" style="background-color:white">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyiG-9wMZQk_iKvcju4e1jbF7JLsubwZ_jlg&usqp=CAU" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://exambazaar-2020.s3.amazonaws.com/9d7498eb882aa4ba4004e10be4354668.gif" class="d-block w-100" alt="...">
                </div>
            <div class="carousel-item">
                <img src="https://factstranscript.com/wp-content/uploads/2020/07/Indira-Gandhi-Delhi-Technical-University-for-Women.jpg"class="d-block w-100" style="height: 352px;" alt="...">
                </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
</div> -->
</div>
