<% layout ('/layouts/boilerplate_student')%>
    <h1>My Profile</h1>
    <br />
    <div class="col-sm-4">
        <table class="table table-borderless">
            <tr class="table-dark">
                <th>Name</th>
            </tr>


            <tr class="table-light">
                <td>
                    <%= users.name %>
                </td>

            </tr>
            <tr class="table-dark">
                <th>Email Address</th>

            </tr>
            <tr class="table-light">
                <td><a href="mailto:<%= users.email %>">
                        <%= users.email %>
                    </a></td>

            </tr>

        </table>
    </div>