<% layout ('/layouts/boilerplate')%>
    <h1>FAQs</h1>
    <table class="table">
        <tr class="table-dark">
            <th>Heading</th>
            <th>Details</th>


        </tr>


        <tr class="table-light">
            <td>
                <%= user.heading %>
            </td>
            <td>
                <%= user.details %>
            </td>

        </tr>

    </table>