<% layout ('/layouts/boilerplate_landing')%>
    <style>
        .viewer__iframe {
            width: 100%;
            height: 100%;
        }

        iframe {
            border: none;
        }

        .viewer {
            overflow: hidden;
            height: 45rem;
        }

        @media (max-width: 1600px) {
            .viewer {
                height: 35rem;
                width: 100%;
            }
        }

        @media (max-width: 767px) {
            .viewer {
                height: 40rem;
                width: 100%;
            }
        }

        @media (max-width: 750px) {
            .viewer {
                height: 33rem;
                width: 100%;
            }
        }
    </style>
    <h1 style="font-weight: 800; color:rgb(7, 7, 7); text-align: center;">IGDTUW VIRTUAL NAVIGATION PORTAL</h1>
    <div class="row" id="desc">
        <p>Through this portal, you can navigate the IGDTUW campus from the comfort of your devices in a fast, easy to
            use and realistic manner.</p><br />
        <p>You can start by using either the map provided at the bottom left corner to reach your desired location or by
            choosing one of the many location categories at bottom center.</p><br />
        <p>The IGDTUW Virtual Navigation Portal is also equipped with VR mode and video mode to use as per the user's
            convenience.</p><br />
        <p>This portal is being used for the purpose of studying search engine optimisation techniques and their impact
            on page
            rankings as part of an academic endeavour.</p></br>
        <p>All text on this page is being added/deleted or modified to study white hat on-page search engine
            optimisation.</p>
    </div>
    <br />
    <p style="font-size: xx-small; color: aliceblue;">Nulla feugiat odio nec nulla ultricies ullamcorper. Sed risus
        elit, finibus eget odio sit amet, feugiat rhoncus mi.
        Vivamus luctus ut dolor et vehicula. Sed dictum velit quis pulvinar sagittis. Nunc eget lorem eu sapien lobortis
        facilisis sit amet id massa. Nam dignissim tortor et ante cursus molestie. Integer sit amet lobortis dui.
        Curabitur
        interdum nisi et tellus bibendum, a feugiat ex rutrum. Mauris suscipit ipsum ac orci maximus posuere a nec
        massa. Nam
        non placerat turpis. Phasellus mattis lectus mi, ut lacinia mauris porttitor sit amet. Curabitur egestas eros
        sed erat
        viverra consequat. Nulla in ipsum nisi. Suspendisse et aliquam diam.

        Praesent vestibulum justo quis massa vehicula lacinia. Nunc quis commodo ipsum. Vestibulum sit amet eros sed
        sapien
        dictum luctus vitae non nisi. Pellentesque nisi nibh, ornare ut lorem sed, pretium tincidunt justo. Maecenas
        faucibus,
        mi sit amet mollis convallis, mauris nibh imperdiet urna, nec tempus lorem justo non turpis. Ut laoreet dapibus
        imperdiet. Etiam interdum non sapien vel finibus. Aenean feugiat augue sed erat scelerisque, ut elementum est
        consequat.
        Morbi vitae nisl nec libero gravida convallis. Proin sollicitudin lacus et magna iaculis, non aliquam quam
        gravida.

        Quisque aliquet efficitur metus at gravida. Fusce vel augue tempor, maximus magna dapibus, porttitor augue. Sed
        nec
        lorem fermentum, tempor diam sed, faucibus leo. In ultricies tempor eros ac blandit. Cras porta sem ut ex
        dictum,
        sollicitudin fermentum odio rhoncus. Fusce sed accumsan leo. Vestibulum tempor elementum ultricies. Vestibulum
        euismod
        elementum orci sed tincidunt. Etiam fermentum quam vitae mi porttitor, vitae dapibus lorem sollicitudin. Vivamus
        pulvinar nec diam eget cursus. Curabitur odio dui, pulvinar ac porttitor non, rhoncus non velit. Ut ac eleifend
        ligula.
        Maecenas pharetra quam in leo suscipit facilisis. Phasellus sed tortor venenatis, feugiat est sit amet, ultrices
        quam.
        Pellentesque vulputate urna est, eu maximus orci fermentum at.

        Nullam suscipit placerat pellentesque. Vivamus sodales, nunc a viverra luctus, ante nibh mattis augue, ac
        vehicula est
        orci id felis. Cras feugiat arcu ipsum, ut ullamcorper turpis egestas nec. Ut quis lacus venenatis, finibus
        justo id,
        placerat quam. Duis molestie mauris quam, eget imperdiet tortor imperdiet sit amet. In eget erat tempus,
        porttitor augue
        ut, varius felis. Nam consectetur cursus lacus, id vestibulum risus pretium vel. Nunc sed lorem vel massa
        egestas rutrum
        id id dui. Praesent non enim eget massa cursus accumsan sed non arcu. Sed vitae mollis elit. Vestibulum dapibus
        blandit
        interdum. Fusce ex erat, tincidunt eget nulla rhoncus, viverra lobortis est. Pellentesque nec euismod metus, at
        semper
        neque. Proin et finibus ex, in commodo metus. Sed volutpat iaculis tincidunt.

        Proin ac rhoncus enim, eget laoreet turpis. Etiam sed tellus vel magna dignissim porttitor. Fusce et tortor ac
        lectus
        dignissim pellentesque eu venenatis lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac
        turpis egestas. Curabitur eget magna turpis. Phasellus posuere vel orci et sollicitudin. Nunc id est imperdiet,
        facilisis elit ut, elementum nunc. In pulvinar eleifend dui, eget volutpat velit aliquam nec. Duis tempor
        ultrices ex id
        iaculis. Praesent volutpat, ipsum quis ornare convallis, nisl tortor aliquet odio, vel dapibus tellus ipsum vel
        leo.
        consectetur adipiscing elit. Praesent convallis nisl ut auctor efficitur. Pellentesque
        placerat metus at ipsum lacinia, id suscipit lacus tristique.

        Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas ut orci et mauris aliquam convallis.
        Nulla
        facilisi. Sed at neque risus. Aliquam quis nulla fringilla diam lacinia dictum. Maecenas eget maximus felis.
        Praesent
        nibh sapien, accumsan a maximus ut, imperdiet elementum mauris. In fermentum, ante et consequat fringilla, quam
        ex porta
        risus, ut pellentesque libero orci vel quam. Curabitur suscipit cursus diam, eu accumsan neque. Vestibulum diam
        arcu,
        malesuada vel pellentesque quis, interdum ac sem.

        Vestibulum dignissim tortor metus, id sollicitudin dui pellentesque quis. Cras posuere mattis metus, ut
        condimentum diam
        lobortis ut. Maecenas a velit et quam egestas condimentum non quis arcu. Integer non tortor ut enim tempus
        vulputate.
        Sed efficitur pulvinar ante at congue. Morbi mollis arcu elementum lectus vehicula consectetur. Vestibulum nisi
        felis,
        ullamcorper vel interdum nec, suscipit et libero. In vitae molestie nisi, id ullamcorper eros. Sed nec ante vel
        urna
        mattis tincidunt. Quisque velit ipsum, volutpat at nulla sed, tincidunt tempus lacus. Quisque ut rutrum ligula,
        sit amet
        auctor quam. Aliquam erat volutpat. Etiam suscipit tempus viverra.

        Aenean porttitor enim eu lacus iaculis, eget commodo ligula ultrices. Mauris sagittis ipsum a augue viverra
        eleifend.
        Nullam vel erat at quam pellentesque tempus quis a enim. Nunc euismod sem vel ipsum viverra commodo. Integer
        vitae
        feugiat libero. Aenean at sapien in lacus malesuada fringilla vel eu sem. Suspendisse id placerat justo, ac
        consequat
        lectus. Maecenas augue sapien, bibendum a consectetur in, mattis vel erat. Suspendisse pretium nisi eu ex
        bibendum
        condimentum lobortis vel orci. Aenean ut elit ac nisi vulputate porta. Phasellus sollicitudin nibh eu cursus
        efficitur.
        Nunc porta nisi erat. Maecenas volutpat, odio non volutpat porttitor, sem quam tempor quam, ut ornare arcu
        libero non
        arcu. Morbi dolor massa, sollicitudin ut magna sit amet, luctus rutrum lorem. Proin pretium tincidunt commodo.
        Nulla sed
        quam eu eros finibus imperdiet.

        Phasellus semper fermentum ligula. Cras finibus, nisi quis pretium luctus, ex ligula auctor eros, eu suscipit
        nulla
        lectus in sem. Sed lobortis, urna ac facilisis tristique, lorem neque lobortis nisi, eget pretium dui ligula ac
        ipsum.
        Phasellus a congue nisi. Proin condimentum a purus quis porta. Morbi id commodo lorem, eget congue dolor. Cras
        sed
        commodo magna. Aliquam nec pretium odio, vehicula pellentesque massa. Vivamus bibendum eros sed neque ultrices,
        ac
        lacinia risus maximus. Fusce nisi lectus, aliquet quis mi vel, pulvinar hendrerit orci. Nam et sollicitudin
        odio, eget
        posuere sapien. Integer auctor libero non viverra feugiat. Ut porta ipsum at efficitur varius.</p></br>
    <div>
        <big><strong>
                <p>For academic purposes only.</p>
            </strong></big>
        <div class="addthis_inline_share_toolbox"></div><br /><br />
    </div>
    <hr class="hr">
    <div id="cards">
        <div class="row mt-5">
            <h2 class="text-center" style="color: rgb(10, 10, 10); font-family: Montserrat; font-weight: 800;">Navigate
                your campus, at your convenience</h2>
            <h3 class="text-center" style="color: rgb(21, 184, 7); font-family: Montserrat; font-weight: 800;">Try our
                mobile or desktop site to aid your campus tour!</h3>


        </div>
        <div class="d-flex mt-5" style="align-self: center;padding: 3%;">

            <div class="card text-white bg-dark mb-3" style="max-width: 25rem; padding: 1%;">
                <!-- <img src="https://images.pexels.com/photos/5226497/pexels-photo-5226497.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                class="card-img-top" alt="..."> -->

                <div class="card-body">
                    <h4 class="card-title">Navigate the campus from your desktop, mobile phone or tablet!</h4>
                    <p class="card-text">IGDTUW Virtual Navigator allows you to visit the IGDTUW campus from the comfort
                        of your devices and get a real-life experience of the university premises.</p>
                </div>
            </div>
            <div class="card text-white bg-dark mb-3 offset-1" style="max-width: 25rem; padding: 1%;">
                <!-- <img src="https://images.pexels.com/photos/5538311/pexels-photo-5538311.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                class="card-img-top" alt="..."> -->

                <div class="card-body">
                    <h4 class="card-title">Submit queries you want answered, or add inputs for others!</h4>
                    <p class="card-text">Users can also submit questions they want answers to, from present and past
                        students, faculty members or IGDTUW administration..</p>
                </div>
            </div>
            <!-- <div class="card text-white bg-dark mb-3 offset-1" style="max-width: 25rem; padding: 1%;">
            <img src="https://images.pexels.com/photos/221164/pexels-photo-221164.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                class="card-img-top" alt="...">

            <div class="card-body">
                <h5 class="card-title">Add inputs for other users!</h5>
                <p class="card-text">Have some new insight or input to offer about the IGDTUW premises, offices, timings or departments? Submit them to us!.</p>
            </div>
        </div> -->
            <div class="card text-white bg-dark mb-3 offset-1" style="max-width: 25rem; padding: 1%;">
                <!-- <img src="https://images.pexels.com/photos/936575/pexels-photo-936575.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                class="card-img-top" alt="..."> -->

                <div class="card-body">
                    <h4 class="card-title">Use in navigation, video or VR mode!</h4>
                    <p class="card-text">Users can navigate the premises through a map with tagged locations, or through
                        a video or through a virtual reality enabled viewer, as per their convenienece.</p>
                </div>
            </div>
        </div>
    </div>
    <hr class="hr">