<% layout ('/layouts/boilerplate_landing')%>
                    <style>
                        .viewer__iframe {
                            width: 100%;
                            height: 100%;
                        }
                    
                        iframe {
                            border: none;
                        }
                    
                        .viewer {
                            overflow: hidden;
                            height: 45rem;
                        }
                    
                        @media (max-width: 1600px) {
                            .viewer {
                                height: 35rem;
                                width: 100%;
                            }
                        }
                    
                        @media (max-width: 767px) {
                            .viewer {
                                height: 40rem;
                                width: 100%;
                            }
                        }
                    
                        @media (max-width: 750px) {
                            .viewer {
                                height: 33rem;
                                width: 100%;
                            }
                        }
                    </style>
<h1 style="font-weight: 800; color:rgb(7, 7, 7); text-align: center;">IGDTUW VIRTUAL NAVIGATION PORTAL</h1>
<div class="row" id="desc">
    <p>Through this portal, you can navigate the IGDTUW campus from the comfort of your devices in a fast, easy to use and realistic manner.</p><br/>
    <p>You can start by using either the map provided at the bottom left corner to reach your desired location or by choosing one of the many location categories at bottom center.</p><br/>
    <p>The IGDTUW Virtual Navigation Portal is also equipped with VR mode and video mode to use as per the user's convenience.</p><br/>
    <p>This portal is being used for the purpose of studying search engine optimisation techniques and their impact on page
        rankings as part of an academic endeavour.</p></br>
        <p>All text on this page is being added/deleted or modified to study white hat on-page search engine optimisation.</p>
</div>
<br/>
<p style="font-size: xx-small; color: aliceblue;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id lorem ante. Nulla facilisi. Proin tincidunt malesuada
volutpat. Integer dignissim sodales nisi, congue ultrices velit convallis sit amet. Ut ac aliquam ipsum. Sed tincidunt
rhoncus quam. Aliquam tempor lectus in tempus consectetur. Duis placerat massa et varius ultrices. Praesent vitae
pellentesque risus, non sodales orci. In et ligula ultrices, mattis mi ut, accumsan velit. Integer quis leo sit amet
felis fermentum fermentum. Nulla faucibus tellus ipsum, ac semper arcu maximus quis. Ut egestas massa orci, vitae
accumsan massa semper gravida. Praesent finibus consectetur purus sed ultrices. Sed dolor diam, vehicula eu purus in,
molestie maximus eros. Duis interdum, nisi id aliquet malesuada, erat sapien malesuada purus, eget interdum sapien est
et neque.

Cras dictum viverra accumsan. Sed risus justo, tempor eget convallis eget, tempor et nisi. Sed posuere magna sit amet
pulvinar congue. Quisque a lectus neque. Proin tristique et dolor vestibulum tristique. Suspendisse fringilla eros nec
lacus aliquet sagittis. Morbi fermentum, ligula mollis vestibulum condimentum, nunc justo ullamcorper odio, non
ultricies nibh lorem sit amet libero. Curabitur tempus hendrerit blandit.

Nullam in velit vel sapien egestas placerat non eget dolor. In sit amet eros viverra, aliquam justo vel, lacinia nisl.
Nam efficitur ex diam, eu maximus elit lacinia nec. In dapibus ex quis massa ultrices, eget rhoncus est porta. Vivamus
luctus diam et tellus iaculis maximus. Ut sit amet purus semper, dapibus tellus vestibulum, semper turpis. Sed aliquam
erat rutrum tortor suscipit, sed hendrerit turpis finibus. Phasellus vel nibh a odio vestibulum venenatis. Maecenas et
tellus non justo rutrum maximus. Aliquam dapibus ullamcorper magna, sed blandit erat aliquam sed. Integer molestie arcu
a sapien sollicitudin fermentum.

Sed sed commodo turpis, ut feugiat lorem. Etiam odio ligula, porttitor et tincidunt at, bibendum a est. Morbi venenatis
efficitur sapien vel vulputate. Ut rhoncus risus dignissim sapien venenatis scelerisque. Quisque est tellus, imperdiet
eu nunc a, dapibus mattis tellus. Nunc ex nisi, scelerisque at lorem et, faucibus tempus tortor. Donec sollicitudin nisl
aliquam dolor sagittis dictum.

Curabitur molestie erat ipsum, vel sagittis quam scelerisque at. Maecenas risus dolor, tincidunt id lacus sit amet,
laoreet accumsan lorem. Sed malesuada tortor libero, sollicitudin lacinia ante facilisis sed. Curabitur hendrerit mi
vitae nulla laoreet mollis. In hac habitasse platea dictumst. Integer vitae ipsum gravida, rutrum dolor sit amet,
dapibus urna. Nunc in odio a mauris ultrices commodo vel nec ipsum. Phasellus sit amet orci quis ligula suscipit
vestibulum. Pellentesque ipsum ex, finibus a iaculis ut, pharetra a ligula. Suspendisse potenti. Nulla odio lorem,
aliquet et convallis et, facilisis vel nisl. Morbi ut libero porttitor, commodo orci a, porttitor ipsum. Nullam ut
molestie ipsum, nec tempor lacus. Donec ut cursus purus. Duis gravida vulputate ipsum lacinia tincidunt.

Donec nunc tortor, rutrum vel fringilla ut, auctor vel erat. Sed dapibus, risus in rhoncus euismod, nunc purus feugiat
nisi, et euismod elit diam eu nisl. Aenean mi orci, rhoncus in massa sit amet, consequat ornare tellus. Integer id ante
ut magna consectetur volutpat. Integer a leo efficitur, ornare ligula non, bibendum sem. In interdum pulvinar ante quis
aliquam. Sed imperdiet fermentum varius. Proin hendrerit, nisi eget faucibus lacinia, ante arcu luctus velit, non
tincidunt quam ante eget quam. Aliquam feugiat id leo sed porta. Nullam ullamcorper neque nec magna convallis, ut varius
sem tempus.

Praesent elementum leo sed imperdiet maximus. Duis nibh ex, fringilla a dapibus quis, euismod eget felis. Sed risus
velit, maximus ac orci in, rhoncus tristique dui. Aenean aliquam fringilla pharetra. Suspendisse ullamcorper tortor in
purus consequat volutpat. Donec commodo velit eros, et interdum elit venenatis sed. In hac habitasse platea dictumst.
Quisque iaculis, lectus non condimentum ullamcorper, velit dolor tincidunt felis, sit amet ullamcorper enim elit a mi.
Ut hendrerit commodo magna.

Nam ligula sapien, lobortis nec elit et, maximus consectetur nibh. Nunc in nulla lobortis ligula sollicitudin consequat
at eu lectus. Nunc vulputate tellus sed maximus tristique. Vestibulum ante ipsum primis in faucibus orci luctus et
ultrices posuere cubilia curae; Aenean imperdiet leo non ipsum porta, eu gravida tellus dictum. Sed eleifend vulputate
ipsum, non bibendum ante tempus vitae. Aenean quis risus tincidunt, varius purus et, bibendum dui. Pellentesque habitant
morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam feugiat, lectus in imperdiet venenatis,
lectus lorem mattis leo, at vulputate quam leo eu nunc. Donec tristique odio at rhoncus tincidunt. Etiam ultrices
efficitur turpis, ac pulvinar leo tempus non.

Donec eu leo nec libero condimentum venenatis nec in dolor. Vivamus scelerisque vehicula libero, non sodales mi
vulputate id. Maecenas posuere feugiat lacus, sed consequat lectus semper eget. Suspendisse pulvinar mattis rutrum.
Curabitur non felis nec velit posuere gravida vitae nec ipsum. Proin quam turpis, gravida luctus consequat hendrerit,
cursus quis quam. Donec efficitur gravida sapien pharetra consectetur. Curabitur scelerisque sed magna nec congue.
Aenean dapibus magna egestas tempor lacinia. Cras eu blandit velit, id molestie quam. Nam tincidunt mi vel velit
elementum ornare. Curabitur tempus imperdiet elit, non ultricies nunc hendrerit vel.</p></br>
<div>
    <big><strong><p>For academic purposes only.</p></strong></big>
    <div class="addthis_inline_share_toolbox"></div><br/><br/>
</div>
<hr class="hr">
<div id="cards">
    <div class="row mt-5">
        <h2 class="text-center" style="color: rgb(10, 10, 10); font-family: Montserrat; font-weight: 800;">Navigate your campus, at your convenience</h2>
        <h3 class="text-center" style="color: rgb(21, 184, 7); font-family: Montserrat; font-weight: 800;">Try our mobile or desktop site to aid your campus tour!</h3>
        

    </div>
    <div class="d-flex mt-5" style="align-self: center;padding: 3%;">

        <div class="card text-white bg-dark mb-3" style="max-width: 25rem; padding: 1%;">
            <!-- <img src="https://images.pexels.com/photos/5226497/pexels-photo-5226497.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                class="card-img-top" alt="..."> -->

            <div class="card-body">
                <h4 class="card-title">Navigate the campus from your desktop, mobile phone or tablet!</h4>
                <p class="card-text">IGDTUW Virtual Navigator allows you to visit the IGDTUW campus from the comfort of your devices and get a real-life experience of the university premises.</p>
            </div>
        </div>
        <div class="card text-white bg-dark mb-3 offset-1" style="max-width: 25rem; padding: 1%;">
            <!-- <img src="https://images.pexels.com/photos/5538311/pexels-photo-5538311.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                class="card-img-top" alt="..."> -->

            <div class="card-body">
                <h4 class="card-title">Submit queries you want answered, or add inputs for others!</h4>
                <p class="card-text">Users can also submit questions they want answers to, from present and past students, faculty members or IGDTUW administration..</p>
            </div>
        </div>
        <!-- <div class="card text-white bg-dark mb-3 offset-1" style="max-width: 25rem; padding: 1%;">
            <img src="https://images.pexels.com/photos/221164/pexels-photo-221164.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                class="card-img-top" alt="...">

            <div class="card-body">
                <h5 class="card-title">Add inputs for other users!</h5>
                <p class="card-text">Have some new insight or input to offer about the IGDTUW premises, offices, timings or departments? Submit them to us!.</p>
            </div>
        </div> -->
        <div class="card text-white bg-dark mb-3 offset-1" style="max-width: 25rem; padding: 1%;">
            <!-- <img src="https://images.pexels.com/photos/936575/pexels-photo-936575.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                class="card-img-top" alt="..."> -->

            <div class="card-body">
                <h4 class="card-title">Use in navigation, video or VR mode!</h4>
                <p class="card-text">Users can navigate the premises through a map with tagged locations, or through a video or through a virtual reality enabled viewer, as per their convenienece.</p>
            </div>
        </div>
    </div>
</div>
<hr class="hr">
