<% layout ('/layouts/boilerplate')%>
    <h1>MY PROFILE</h1>
    <table class="table">
        <tr class="table-dark">
            <th>Name</th>
            <th>Email Address</th>
            <th>Role</th>
        </tr>


        <tr class="table-light">
            <td>
               
            </td>
            <td>
               
            </td>
            <td>Faculty Member-IGDTUW</td>
        </tr>

    </table>